
body {
	font-size: 15px;
}

body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}	
}

.newslink a{
text-decoration:none;
}     

.newslink a:link{
color:#CCCCCC;
}       
.newslink a:visited{
color:#CCCCCC;
} 
.newslink a:hover{
color: #FFFFFF;
transition: color 0.5s ease;
text-decoration:none;
}       
.newslink a:active{
color:#CCCCCC;
}

#publiationssection {
	background-color: #222222;
	color: #FFFFFF;
	
}
	   
.linktitle{
  color:inherit;
  text-transform:uppercase;
  font-weight:bold;
 }
	   
.vertical-center {
  /*min-height: 100%;   Fallback for browsers do NOT support vh unit */
  /*min-height: 100vh;  These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


.bg-inverse .btn-primary
{
    border-color: #CC2266;
}

.bg-inverse .btn-primary:visited
{
    border-color: #CC2266;
}

.bg-inverse .btn-primary:active
{
    border-color: #CC2266;
}

.bg-inverse .btn-primary:hover
{
    border-color: #CC2266;
}



a.btn-primary:link
{
	background-color:#FF3399;
	border-color: #F066CC;
	color: white;	
}

a.btn-primary:visited
{
	background-color:#FF3399;
	border-color: #F066CC;	
	color: white;
}
a.btn-primary:hover
{
    background-color:#BB2277;
	border-color: #B04499;
	color: white;
}
a.btn-primary:active
{
	background-color:#FF3399;
	border-color: #F066CC;
	color: white;
}



hr.bg-inverse
{
	border-color:#CCCCCC;
	background-color:#CCCCCC;
	color:#CCCCCC;
}


.resumeSectionTitle
{
	font-weight: bold;
	
}
.experienceItem
{
	padding-top: 30px;
	padding-bottom:15px;
}

.positionTitle
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 110%;
	padding-bottom: 20px;
	
}

.companyName a
{
	font-weight: bold;
	color: #FF3366;
	padding-right: 5px;

}

.companyName a:hover
{
	text-decoration:none;
	color: #FF6699;
}

.companyAbout
{
	padding-bottom: 20px;
}

.positionDates
{
	color: #888888;
}

.skill
{
	display: inline-flex;
	border-color: #777777;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	color: #777777;
	padding: 0.3em;
	margin: 0.2em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

#footer
{
	background-color: #181818;
}

#pirate-forms-contact-name, 
#pirate-forms-contact-email,
#pirate-forms-contact-subject,
#pirate-forms-contact-message
{
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	
}

.pirate-forms-submit-button
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
    background-color: inherit;
    border-color: #FF3399;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.15em;
    color: #FF3399;
    padding-left: 1.5em;
    padding-right: 1.5em;	
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	
}


.blurb
{
	text-align: center;
	padding-top: 0.6em;
	padding-bottom: 2.4em;
}
.questionHeading
{
	font-size: 110%;
	text-transform: uppercase;
	line-height: 150%;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}

.questionDetail
{
	padding-bottom: 2.4em;
	
	
}

.credit
{
	font-style: italic;
	font-size: 110%;
}

.align-right {
	float:right;
}

.navbar {
	border-radius: 0px;
	border-bottom-right-radius:: 0px;
		border-bottom-left-radius:: 0px;
	border-top-right-radius:: 0px;
	border-top-left-radius:: 0px;

}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.55rem;
}

h3 {
    font-size: 1.25rem;
}

.bg-inverse a:link {
	color:#eceeef;
}
.bg-inverse a:visited {
	color:#eceeef;
}
.bg-inverse a:hover {
	color:white;
	text-decoration: none;
}
.bg-inverse a:active {
	color:white;
}

a {
	font-weight: 700;
}

a:link {
	color:#333333;
}
 a:visited {
	color:#333333;
}
a:hover {
	color:#000000;
	text-decoration: none;
}
a:active {
	color:#000000;
}

.centered  img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.full-height {
	height: 100%;
}


